*{
	margin: 0;
	padding : 0;
	font-family: Verdana, sans-serif;
	/* box-sizing: border-box; */
}
.nav{
	background-color: #313a42;
	height: 100px;
	width: 100%;
	margin: 0;
	position: fixed !important;
	top: 0;
	z-index: 999;
	
	/* margin-top: 0; */
}
.logo{
	height: 90px;
	width: 260px;
	margin-left: 180px;
}
.logo-div{
	width: 30%;
	height: 0%;
}
.nav-div{
	margin-right: 180px; 
}

.nav-div ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-div li{
	float: right;
}


.nav-div li a {
	display: block;
	color: #999;
	text-align: center;
	padding: 38px 16px;
	text-decoration: none;
    height: 19px;
}

.nav-div li a:hover {
	background-color: #2C343C;
	border-bottom: 5px solid #999 ;
	border-radius: 5px;
	color: white;
	transition: 1s ease;
}
.active {
	background-color: #2C343C;
	color:white;
	border-bottom: 5px solid #999;
	border-radius: 5px;
	/* border-top: 5px solid #999; */
	/* height: 96px; */
}

/* carosuel */
 
 .mySlides{
	display: none;
} 
.carouselImg{
	vertical-align: middle;
	margin-top: 100px;
	height: 550px;
	/* display: none; */
}

.slideshow-container{
	max-width: 1400px;
	/* position:relative; */
	margin:auto;
	height: 100px;
	/* overflow: hidden; */
} 
 /* .mySlides{
	display: none;
}  */
	
	
.prev , .next{
	position: absolute;
	cursor: pointer;
	top : 50%;
	width: auto;
	padding : 10px;
	margin-top: -5px;
	text-decoration: none;
	/* border-radius: 25px; */
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	/* overflow: hidden; */
}
.next{
	background-color: rgba(0,0,0,0.4);
	right: 0;
	border-radius: 3px 0 0 3px;
	margin-right: 80px;
	margin-top: 30px;
}
.prev{
	background-color: rgba(0,0,0,0.4);
	margin-left: 80px;
	margin-top: 30px;
}
.prev:hover , .next:hover{
	background-color: #2C343C;
}

 /* text nums (1/3) */ 
 .numbertext{
	color: #313a42;
	font-size: 18px;
	padding : 8px 12px;
	position: absolute;
	margin-top: 100px;
	/* overflow: hidden; */
 } 
 .dot-container{
	 text-align: center;
	 color: white;
	 margin-top: 450px;
 }

 .dot{
	 display: inline-block;
	 height: 15px;
	 width: 15px;
	 cursor: pointer;
	 margin: 0 2px;
	 background-color: #ffff;
	 border-radius: 50%;
	 transition: 	0.6s ease;
 }
 .active_dot , .dot:hover{
	 background-color: #717171;
 }
 /* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
 /* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
  }
 .meet-container{
	 /* display: flex; */

	 text-align: center;
	 /* align-items: cente	r; */
	 height: 180px;
	 margin-top: 110px;
	 
}
.meet-container h1{
	color: #5C5C5C;
	font-size: 25px;
}
.meet-container .meet-para {
	color : #a1a1a1;
	margin-top: 10px;
	font-size: 20px;
	padding: 10px;
}

.service-container{
	background-color: #efefef;
	height: 700px;
	text-align: center;
	padding-top: 40px;
}
.service-container img{
	padding-right: 20px;
}
.service-head{
	color: #989898;
	font-weight: bold;
}
.service-para{
	color: #a8a8a8;
	margin-top: 25px;
	font-size: 20px;
	padding:10px;
}
.service-para-2{
	padding-top: 5px;
}

/* circles services */
.circle-container{
	display: flex;
	justify-content: center;
	align-content: flex-start;
	/* -webkit-flex-flow: row wrap; */
	flex-flow: row wrap;
	height: 450px;
}
.circle {
	background-color: white;
	width: 190px;
	height: 190px;
	border-radius: 1000px;
	margin : 25px;
	box-shadow:  2px 2px 4px 5px #ccc;
}
.circle img{

	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	height: 100px;
	width: 100px;
	margin-top: 40px;
	margin-left: 20px;
	z-index: 1;
	
}
.circle-text{
	margin-top: 60px;	
	color: #313a42;
	font-size: 20px;
}
.circle-para{
	margin-top: 10px;
	font-size: 17px;
	color: #a8a8a8;
	/* text-align : justify; */
}

.circle:hover{
	transition: 0.3s ease;
	/* box-shadow: none; */
	box-shadow:  4px 4px 6px 7px #ccc;
}

.circle-button{
	margin-top: 20px;
	height: 35px;
	width: 100px;
	background-color: #DAD9DA;
	border: none;
	box-shadow: 2px 2px 2px 2px #ccc;
	font-size: 15px;
	color: #313a42;
	font-weight: bold;
}
.circle-button:hover{
	background-color: #59A3FC;
	color: white;
	box-shadow: none;
}
.service-button {
	width: 400px;
	height: 40px;
	margin-top: 190px;
	background-color: #DAD9DA;
	color: #313a42;
	border: none;
	font-size: 15px;
	box-shadow: 2px 2px 2px 2px #ccc;
}
.service-button:hover{
	background-color: #59A3FC;
	color: white;
	box-shadow: none;
}
.service-button span{
	font-weight: bold;
}

.work-container{
	background-image: url("./../images/serfoot.png");
	/* background-color: #2a323a; */
	 display: flex;
	justify-content: center;
	align-items: flex-start; 
	height: 230px;

	/* width: 1200px; */
	 flex-flow:row wrap; 
	 padding-right: 20px;
}
.work-container p{
	color: #efefef;
	font-size: 16px;
	text-align: center;
	margin-right: 3px;
}
.work-container p span {
	font-weight: bold;
	font-size: 20px;
	margin-right: 8px;
	color: white;
}	
 .work-down{
	margin-top: 17px;
	padding-left: 30px;

}
.work-down img{
	height: 155px;
} 


.work-up{
	padding-left: 30px;
	margin-top: 36px;
} 
.work-up img{
	height: 135px;
}


.project-container {
	height: 1050px;
	text-align: center;
}
.project-container h1{
	color: #7F8C8D;
	font-size: 35px;
	font-variant: small-caps;
}
.project-container h1 img{
	/* height: 40px; */
	padding-top: 40px;

}
.project-para{
	padding-top: 30px;
	font-size: 20px;
	color: #a8a8a8;
	text-align: center;
}
.project-para-2{
	padding-top: 7px;
}

.project-title{
	padding-top: 35px;
}
.project-title ul {
	display: flex;
	justify-content: center;
	padding: 20px;
	text-decoration: none;

}
.project-title li{
	display: block;
}
.project-title a{
	text-decoration: none;
	list-style: none;
	padding-left: 20px;
	color:#a8a8a8;
	font-size: 20px;
	/* pointer-events: none; */
	
}
.project-title span{
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
}
.project-title a:hover{
	color: #59A3FC;
}

.project-images{
	margin-top: 20px;
	display: inline-grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	/* padding-right:0px;	 */
	/* align-items: stretch; */
	/* justify-content: center; */
	
}
.project-images img {
	/* padding-left: 20x; */
	padding-top:0px;
	margin: 0px;
	height: 170px;
	width: 280px;
	box-shadow: 0 3px 0 0 #ccc;
	object-fit: cover;
}
.load-btn{
	height: 45px;
	width: 420px;
	font-size: 17px;
	color: #a8a8a8;
	margin-top: 40px;
	background-color: #efefef;
	border: none;
	box-shadow: 0 2px 0 0 #ccc;
	/* padding-top: 200px; */
}
.load-btn:hover{
	color: white;
	background-color: #59A3FC;
	box-shadow: none;
}

.carousel-auto-container{
	max-width: 1400px;
	/* position:relative; */
	/* margin:auto; */
	margin-top: -90px;
	/* padding-top: -10px; */
	
	/* height: 100px; */
}
.auto-slide{
	 display: none;
} 
.auto-image{
	vertical-align: middle;
	margin-top: 120px;
	height: 440px;
	width: 100%;
}
.dot-auto-container{
	text-align: center;
	 color: black;
	 margin-top: -50px;
}
.dot-auto{
	display: inline-block;
	height: 15px;
	width: 15px;
	cursor: pointer;
	margin: 0 2px;
	background-color: white;
	border-radius: 50%;
	transition: 0.6s ease;
}
.activeauto-dot , .dot-auto:hover{
	background-color: #717171;
}
.about-container {
	height: 900px;
	text-align: center;
	padding-top: 40px;
}

.about-head{
	padding-top: 40px;
	font-size: 20px;
	color: #717171;
}
.about-para{
	padding-top: 20px;
	color: #7F8C8D;
	font-size: 20px;
}
.head-team{
	padding-top: 30px;
	font-size: 27px;
}
.team-dot-first{
	font-weight: bold;
	/* padding-left: 10px; */
}
.team-dot-second{
	font-weight: bold;
}
.team-blue{
	color: #59A3FC;
	/* font-weight: bold; */
}
.about-image{
	padding-top: 40px;
}
.about-text h1{
	padding-top: 10px;
	color: #717171;
	font-size: 32px;
}
.about-text p{
	padding-top: 4px;
	font-size: 20px;
	color: #989898;
}
.about-box{
	height: 40px;
	width: 220px;
	background-color: #EAEAEA;
	/* display: flex; */
	margin:  auto;
	margin-top: 20px;
	box-shadow:0 3px 0 0 #ccc ;
}
.social-icons{
	height: 50px;
}
i{
	margin-left: 13px;
	 padding-top: 15px; 
	padding-right: 10px;
}
.fb:hover{	
	
	color: #59A3FC;
	font-weight: bold;
}
.tw:hover{
	color:lightskyblue;
	font-weight: bold;
}
.em:hover{
	color: burlywood;
	font-weight: bold;
}
.wi:hover{
	color: green;
}
.about-footer{
	background-color: white;
	box-shadow: 0 3px 3px 0 #ccc;
	width: 840px;
	height: 60px;
	margin:0 auto;
	margin-top: 50px;
}
.about-join{
	/* font-weight: bold; */
	color: #7F8C8D;
	font-size: 18px;
	text-align: start;
	padding-left: 15px;
	padding-top: 13px;
}
.about-join-big{
	font-size: 25px;
	font-weight: bold;
	padding-right: 10px;
}
	
.about-join-sm{
	color: #7F8C8D;
	font-size: 20px;
}
.apply-btn{
	background-color: #59A3FC;
	height: 35px;
	width: 110px;
	border: none;
	color: white;
	font-weight: bold;
	margin-left: 70px;
	border-radius: 10px;
	box-shadow: 0 3px 0 0 #ccc;
}
.social-icons-big{
	height: 270px;
	width: 100%;
	position: absolute;
	background-image: url("./../images/abtfooter.png");
}

.group-icons{
	display: inline-flex;
	/* display:inline-grid; */
	grid-gap: 30px;
	position : relative;
	margin :0 auto;
	height: 10px;
	margin-top: 40px;
	padding-left: 150px;
	border: 2px solid transparent;
	border-radius: 10px;
	z-index: 1;
}


	

